@using SFA.DAS.ProviderCommitments.Web.Extensions;
@model SFA.DAS.ProviderCommitments.Web.Models.EditApprenticeshipViewModel

@{
    ViewData["Title"] = "Apprenticeships";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Add apprentice details</h1>
        <dl class="das-definition-list">
            <dt class="das-definition-list__title">Employer</dt>
            <dd class="das-definition-list__definition">@Model.Employer</dd>
        </dl>
        <form id="editApprenticeship" method="post" action="@Url.Action("Index")">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Apprentice name
                    </legend>
                    <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.FirstName, "govuk-form-group--error")">
                        <label asp-for="FirstName" class="govuk-label">First name</label>
                        <input asp-for="FirstName" class="govuk-input" />
                    </div>
                    <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.LastName, "govuk-form-group--error")">
                        <label asp-for="LastName" class="govuk-label">Last name</label>
                        <input asp-for="LastName" class="govuk-input" />
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group  @Html.AddClassIfPropertyInError(x => x.BirthDate, "govuk-form-group--error")">
                <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Date of birth
                    </legend>
                    <span id="dob-hint" class="govuk-hint">
                        For example, 31 3 1980
                    </span>
                    <div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="BirthDay" class="govuk-label govuk-date-input__label">
                                    Day
                                </label>
                                <input asp-for="BirthDay" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="BirthMonth" class="govuk-label govuk-date-input__label">
                                    Month
                                </label>
                                <input asp-for="BirthMonth" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="BirthYear" class="govuk-label govuk-date-input__label">
                                    Year
                                </label>
                                <input asp-for="BirthYear" class="govuk-input govuk-date-input__input govuk-input--width-4" type="number">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.UniqueLearnerNumber, "govuk-form-group--error")">
                <label asp-for="UniqueLearnerNumber" class="govuk-label">Unique learner number (ULN)</label>
                <input asp-for="UniqueLearnerNumber" class="govuk-input" />
            </div>
            <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.CourseCode, "govuk-form-group--error")">
                <label asp-for="CourseCode" class="govuk-label">Apprenticeship training course</label>
                <span id="course-name-hint" class="govuk-hint">Start typing the name of the course or choose an option from the list </span>
                <select class="govuk-select" asp-for="CourseCode" asp-items="Model.Courses" aria-describedby="course-name-hint"></select>
            </div>
            <div class="govuk-form-group  @Html.AddClassIfPropertyInError(x => x.StartDate, "govuk-form-group--error")">
                <fieldset class="govuk-fieldset" aria-describedby="start-date-hint" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Planned training start date
                    </legend>
                    <span id="start-date-hint" class="govuk-hint">
                        For example, 09 2019
                    </span>
                    <div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="StartMonth" class="govuk-label govuk-date-input__label">
                                    Month
                                </label>
                                <input asp-for="StartMonth" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="StartYear" class="govuk-label govuk-date-input__label">
                                    Year
                                </label>
                                <input asp-for="StartYear" class="govuk-input govuk-date-input__input govuk-input--width-4" type="number">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">Submit</button>
        </form>
    </div>
</div>

