@model SFA.DAS.ProviderCommitments.Web.Models.ChoosePilotStatusViewModel

@{
    ViewData["Title"] = "Will this apprentice be part of the Simplified Payments pilot?";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
            <form method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="CacheKey" />
                @Html.HiddenFor(x => x.ProviderId)
                <div class="govuk-form-group @(ViewContext.ModelState.IsValid ? "" : "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                Will this apprentice be part of the Simplified Payments pilot?
                            </h1>
                        </legend>
                        
                        <div class="govuk-hint">
                            To be eligible for the simplified payment pilot, an apprenticeship must start after 13 March 2023
                        </div>
                        
                        @Html.ValidationMessageFor(m => m.Selection, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.Selection) })


                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input asp-for="Selection" value="Pilot" type="radio" class="govuk-radios__input" id="confirm-Pilot" />
                                <label class="govuk-label govuk-radios__label" for="confirm-Pilot">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input asp-for="Selection" value="NonPilot" type="radio" class="govuk-radios__input" id="confirm-NonPilot" />
                                <label class="govuk-label govuk-radios__label" for="confirm-NonPilot">
                                    No
                                </label>
                            </div>
                        </div>

                    </fieldset>
                </div>
                <button class="govuk-button" type="submit" data-module="govuk-button">
                    Continue
                </button>
            </form>

    </div>
</div>

@section breadcrumb
    {
    <a id="back-link" class="govuk-back-link" href=@Url.Action("SelectEmployer", new { @Model.ProviderId })>Back</a>
}