@using SFA.DAS.CommitmentsV2.Shared.Extensions
@model SFA.DAS.ProviderCommitments.Web.Models.DraftApprenticeshipOverlapAlertViewModel
@{
    ViewBag.Title = "Training Date Overlap Alert";
    ViewBag.GaData.Vpv = "/unapproved/add/apprenticeship/overlap-alert";

    var routeData = new
    {
        providerId = Model.ProviderId,
        cohortReference = Model.CohortReference,
        DraftApprenticeshipHashedId = Model.DraftApprenticeshipHashedId,
        ReservationId = Model.ReservationId,
        StartMonthYear = Model.StartMonthYear,
        CourseCode = Model.CourseCode,
        DeliveryModel = Model.DeliveryModel,
        EmployerAccountLegalEntityPublicHashedId = Model.EmployerAccountLegalEntityPublicHashedId,
        CacheKey = Model.CacheKey
    };
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="_ValidationSummary"/>

        <h1 class="govuk-heading-xl">Confirm details</h1>

        <p>Check you have entered the apprentice details and training dates.</p>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                        Apprentice details
                </h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a id="change-details-link" class="govuk-link" href="@Url.RouteUrl(Model.ChangeURLRoute, routeData)">Change</a>
                    </li>               
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Apprentice name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.FirstName @Model.LastName
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Unique learner number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Uln
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Proposed training dates
                </h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a id="change-dates-link" class="govuk-link" href="@Url.RouteUrl(Model.ChangeURLRoute, routeData)">Change</a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                           Planned start date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.StartDate.ToString("Y")
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Planned training end date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.EndDate.ToString("Y")
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <form method="post">
            <input type="hidden" asp-for="DraftApprenticeshipHashedId" />
            <input type="hidden" asp-for="CohortReference" />
            <input type="hidden" asp-for="ProviderId" />
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

@section breadcrumb
{
    <a id="back-link" class="govuk-back-link" href="@Url.RouteUrl(Model.ChangeURLRoute, routeData)">Back</a>
}