@using SFA.DAS.Commitments.Shared.Extensions
@model SFA.DAS.ProviderCommitments.Web.Models.ManageApprenticesViewModel

@{
    ViewData["Title"] = "Manage Your Apprentices";
}

<h1 class="govuk-heading-xl">Manage your apprentices</h1>

@if (!Model.AnyApprenticeships)
{
    <div class="govuk-inset-text das-inset-text--filled das-inset-text--highlight">
        <p>Your apprentices will appear here once you and the employer approve their details.</p>
    </div>
}
else
{
    <a class="govuk-link" href="@Url.RouteUrl("Download",new {providerId = Model.ProviderId})" aria-label="Download all data">Download all data (CSV)</a>

    <table class="govuk-table das-table--responsive">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Apprentice name</th>
                <th scope="col" class="govuk-table__header">ULN</th>
                <th scope="col" class="govuk-table__header">Employer</th>
                <th scope="col" class="govuk-table__header">Apprenticeship training course</th>
                <th scope="col" class="govuk-table__header">Planned start date</th>
                <th scope="col" class="govuk-table__header">Planned end date</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Alerts</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var apprenticeship in Model.Apprenticeships)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Apprentice name">
                        <a class="govuk-link" href="@Url.ProviderApprenticeshipServiceLink($"{Model.ProviderId}/apprentices/manage/{apprenticeship.EncodedApprenticeshipId}/details")">
                            @apprenticeship.ApprenticeName
                        </a>
                    </td>
                    <td class="govuk-table__cell" data-label="ULN">
                        @apprenticeship.Uln
                    </td>
                    <td class="govuk-table__cell" data-label="Employer">
                        @apprenticeship.EmployerName
                    </td>
                    <td class="govuk-table__cell" data-label="Apprenticeship training course">
                        @apprenticeship.CourseName
                    </td>
                    <td class="govuk-table__cell" data-label="Planned start date">
                        @apprenticeship.PlannedStartDate
                    </td>
                    <td class="govuk-table__cell" data-label="Planned end date">
                        @apprenticeship.PlannedEndDate
                    </td>
                    <td class="govuk-table__cell" data-label="Status">
                        @apprenticeship.Status
                    </td>
                    <td class="govuk-table__cell" data-label="Alerts">
                        @if (apprenticeship.Alerts != null && !string.IsNullOrWhiteSpace(apprenticeship.Alerts.Value))
                        {
                            <a class="govuk-link" href="@Url.ProviderApprenticeshipServiceLink($"{Model.ProviderId}/apprentices/manage/{apprenticeship.EncodedApprenticeshipId}/details")">
                                @apprenticeship.Alerts
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section breadcrumb {
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
}