@model SFA.DAS.ProviderCommitments.Web.Models.ManageApprenticesViewModel

@{
    ViewData["Title"] = "Manage Your Apprentices";
}

<h1 class="govuk-heading-xl">Manage your apprentices</h1>

@if (!Model.AnyApprenticeships)
{
    <div class="govuk-inset-text das-inset-text--filled das-inset-text--highlight">
        <p>Your apprentices will appear here once you and the employer approve their details.</p>
    </div>
}
else
{
    <table class="tableResponsive provider-list-view">
        <thead>
            <tr>
                <th>Apprentice name</th>
                <th>ULN</th>
                <th>Employer</th>
                <th>Apprenticeship training course</th>
                <th>Planned start date</th>
                <th>Planned end date</th>
                <th>Status</th>
                <th>Alerts</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var apprenticeships in Model.Apprenticeships)
            {
            <tr>
                <td>
                    @apprenticeships.ApprenticeName
                </td>
                <td>
                    @apprenticeships.Uln
                </td>
                <td>
                    @apprenticeships.EmployerName
                </td>
                <td>
                    @apprenticeships.CourseName
                </td>
                <td>
                    @apprenticeships.PlannedStartDate
                </td>
                <td>
                    @apprenticeships.PlannedEndDateTime
                </td>
                <td>
                    @apprenticeships.Status
                </td>
                <td>
                    @apprenticeships.Alerts
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@section breadcrumb {
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
}