@using SFA.DAS.Commitments.Shared.Extensions
@using SFA.DAS.ProviderCommitments.Web.RouteValues
@model SFA.DAS.ProviderCommitments.Web.Models.ManageApprenticesViewModel

@{
    ViewData["Title"] = "Manage Your Apprentices";
}

<h1 class="govuk-heading-xl">Manage your apprentices</h1>

@if (!Model.AnyApprenticeships)
{
    <div class="govuk-inset-text das-inset-text--filled das-inset-text--highlight">
        <p>Your apprentices will appear here once you and the employer approve their details.</p>
    </div>
}
else
{
    <a class="govuk-link" href="@Url.RouteUrl(@RouteNames.DownloadApprentices,new {providerId = Model.ProviderId})" aria-label="Download all data">Download all data (CSV)</a>

    <table class="govuk-table das-table--responsive">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Apprentice name</th>
                <th scope="col" class="govuk-table__header">ULN</th>
                <th scope="col" class="govuk-table__header">Employer</th>
                <th scope="col" class="govuk-table__header">Apprenticeship training course</th>
                <th scope="col" class="govuk-table__header">Planned start date</th>
                <th scope="col" class="govuk-table__header">Planned start date</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Alerts</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var apprenticeships in Model.Apprenticeships)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Apprentice name">
                        @apprenticeships.ApprenticeFirstName @apprenticeships.ApprenticeLastName
                    </td>
                    <td class="govuk-table__cell" data-label="ULN">
                        @apprenticeships.Uln
                    </td>
                    <td class="govuk-table__cell" data-label="Employer">
                        @apprenticeships.EmployerName
                    </td>
                    <td class="govuk-table__cell" data-label="Apprenticeship training course">
                        @apprenticeships.CourseName
                    </td>
                    <td class="govuk-table__cell" data-label="Planned start date">
                        @apprenticeships.PlannedStartDate.ToGdsFormatWithoutDay()
                    </td>
                    <td class="govuk-table__cell" data-label="Planned end date">
                        @apprenticeships.PlannedEndDateTime.ToGdsFormatWithoutDay()
                    </td>
                    <td class="govuk-table__cell" data-label="Status">
                        @apprenticeships.PaymentStatus
                    </td>
                    <td class="govuk-table__cell" data-label="Alerts">
                        @if (apprenticeships.Alerts.Any())
                        {
                            @apprenticeships.Alerts.Aggregate((a, b) => $"{a} {Environment.NewLine} {b}")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.ShowPageLinks)
{
    <nav role="navigation" aria-label="Pagination">
        <div class="das-pagination__summary">Showing @Model.FilterModel.PagedRecordsFrom to @Model.FilterModel.PagedRecordsTo of @Model.FilterModel.NumberOfRecordsFound reservation@(Model.FilterModel.NumberOfRecordsFound != 1 ? "s" : null)</div>
        <ul class="das-pagination">
            @foreach (var pageLink in Model.FilterModel.PageLinks)
            {
                <li class="das-pagination__item">
                    <a class="das-pagination__link @(pageLink.IsCurrent.HasValue && pageLink.IsCurrent.Value ? "current":"")"
                       asp-route="@RouteNames.ManageApprentices"
                       asp-all-route-data="@pageLink.RouteData"
                       aria-current="@pageLink.IsCurrent"
                       aria-label="@pageLink.AriaLabel">
                        @pageLink.Label
                    </a>
                </li>
            }
        </ul>
    </nav>
}

@section breadcrumb {
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
}