@using SFA.DAS.Commitments.Shared.Extensions
@model SFA.DAS.ProviderCommitments.Web.Models.ManageApprenticesViewModel

@{
    ViewData["Title"] = "Manage Your Apprentices";
}

<h1 class="govuk-heading-xl">Manage your apprentices</h1>

@if (!Model.AnyApprenticeships)
{
    <div class="govuk-inset-text das-inset-text--filled das-inset-text--highlight">
        <p>Your apprentices will appear here once you and the employer approve their details.</p>
    </div>
}
else
{
    <a class="govuk-link" href="@Url.RouteUrl("Download",new {providerId = Model.ProviderId})" aria-label="Download all data">Download all data (CSV)</a>

    <table class="govuk-table das-table--responsive">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Apprentice name</th>
                <th scope="col" class="govuk-table__header">ULN</th>
                <th scope="col" class="govuk-table__header">Employer</th>
                <th scope="col" class="govuk-table__header">Apprenticeship training course</th>
                <th scope="col" class="govuk-table__header">Planned start date</th>
                <th scope="col" class="govuk-table__header">Planned start date</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Alerts</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var apprenticeships in Model.Apprenticeships)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Apprentice name">
                        @apprenticeships.FirstName @apprenticeships.LastName
                    </td>
                    <td class="govuk-table__cell" data-label="ULN">
                        @apprenticeships.Uln
                    </td>
                    <td class="govuk-table__cell" data-label="Employer">
                        @apprenticeships.EmployerName
                    </td>
                    <td class="govuk-table__cell" data-label="Apprenticeship training course">
                        @apprenticeships.CourseName
                    </td>
                    <td class="govuk-table__cell" data-label="Planned start date">
                        @apprenticeships.StartDate.ToGdsFormatWithoutDay()
                    </td>
                    <td class="govuk-table__cell" data-label="Planned end date">
                        @apprenticeships.EndDate.ToGdsFormatWithoutDay()
                    </td>
                    <td class="govuk-table__cell" data-label="Status">
                        @apprenticeships.PaymentStatus
                    </td>
                    <td class="govuk-table__cell" data-label="Alerts">
                        @if (apprenticeships.Alerts.Any())
                        {
                            @apprenticeships.Alerts.Aggregate((a, b) => $"{a} {Environment.NewLine} {b}")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section breadcrumb {
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
}