@using SFA.DAS.Commitments.Shared.Extensions
@using SFA.DAS.ProviderCommitments.Web.RouteValues
@model SFA.DAS.ProviderCommitments.Web.Models.ManageApprenticesViewModel

@{
    ViewData["Title"] = "Manage Your Apprentices";
}

<h1 class="govuk-heading-xl">Manage your apprentices</h1>

@if (Model.FilterModel.TotalNumberOfApprenticeships == 0)
{
    <div class="govuk-inset-text das-inset-text--filled das-inset-text--highlight">
        <p>Your apprentices will appear here once you and the employer approve their details.</p>
    </div>
}
else
{
    @if (Model.FilterModel.ShowSearch)
    {
        <form method="get" asp-route="@RouteNames.ManageApprentices">
            <div class="govuk-grid-row das-hidden">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-form-group">
                        <label for="searchTerm" class="govuk-label">Search todo</label>
                        <div class="das-search-form__group">
                            <input class="govuk-input das-search-form__input" id="searchTerm" name="searchTerm" type="text" value="@Model.FilterModel.SearchTerm">
                            <div class="das-search-form__button-wrap">
                                <button class="govuk-button das-search-form__button" type="submit">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="das-pane govuk-!-margin-bottom-3">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-third">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="selectedEmployer">Employer</label>
                                    <select class="govuk-select govuk-!-width-full" id="selectedEmployer" name="selectedEmployer">
                                        <option label="All" aria-label="All employers"></option>
                                        @foreach (var employer in Model.FilterModel.EmployerFilters)
                                        {
                                            if (employer.Replace(" ", null) == Model.FilterModel.SelectedEmployer?.Replace(" ", null))
                                            {
                                                <option label="@employer" selected="selected">@employer</option>
                                            }
                                            else
                                            {
                                                <option label="@employer">@employer</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="govuk-grid-column-one-third">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="selectedCourse">Apprenticeship training course</label>
                                    <select class="govuk-select govuk-!-width-full" id="selectedCourse" name="selectedCourse">
                                        <option label="All" aria-label="All courses"></option>
                                        @foreach (var course in Model.FilterModel.CourseFilters)
                                        {
                                            if (course.Replace(" ", null) == Model.FilterModel.SelectedCourse?.Replace(" ", null))
                                            {
                                                <option label="@course" selected="selected">@course</option>
                                            }
                                            else
                                            {
                                                <option label="@course">@course</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="govuk-grid-column-one-third">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="selectedStatus">Status</label>
                                    <select class="govuk-select govuk-!-width-full" id="selectedStatus" name="selectedStatus">
                                        <option label="All" aria-label="All statuses"></option>
                                        @foreach (var status in Model.FilterModel.StatusFilters)
                                        {
                                            if (status.Replace(" ", null) == Model.FilterModel.SelectedStatus?.Replace(" ", null))
                                            {
                                                <option label="@status" selected="selected">@status</option>
                                            }
                                            else
                                            {
                                                <option label="@status">@status</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div><div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-third">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="selectedStartDate">Planned start date</label>
                                    <select class="govuk-select govuk-!-width-full" id="selectedStartDate" name="selectedStartDate">
                                        <option label="All" aria-label="All start dates"></option>
                                        @foreach (var startDate in Model.FilterModel.StartDateFilters)
                                        {
                                            if (startDate == Model.FilterModel.SelectedStartDate)
                                            {
                                                <option label="@startDate.ToGdsFormatWithoutDay()" selected="selected">@startDate.ToString("yyyy-MM-dd")</option>
                                            }
                                            else
                                            {
                                                <option label="@startDate.ToGdsFormatWithoutDay()">@startDate.ToString("yyyy-MM-dd")</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="govuk-grid-column-one-third">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="selectedEndDate">Planned end date</label>
                                    <select class="govuk-select govuk-!-width-full" id="selectedEndDate" name="selectedEndDate">
                                        <option label="All" aria-label="All end dates"></option>
                                        @foreach (var endDate in Model.FilterModel.EndDateFilters)
                                        {
                                            if (endDate == Model.FilterModel.SelectedEndDate)
                                            {
                                                <option label="@endDate.ToGdsFormatWithoutDay()" selected="selected">@endDate.ToString("yyyy-MM-dd")</option>
                                            }
                                            else
                                            {
                                                <option label="@endDate.ToGdsFormatWithoutDay()">@endDate.ToString("yyyy-MM-dd")</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="govuk-button govuk-!-margin-0" type="submit">Apply filters</button>
                    </div>
                </div>
            </div>
        </form>
    }

    @if (Model.FilterModel.SearchOrFiltersApplied)
    {
        <div class="govuk-grid-row govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body"><a class="govuk-link" asp-route="@RouteNames.ManageApprentices">Clear filters</a></p>
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-two-thirds">
                @if (Model.FilterModel.TotalNumberOfApprenticeshipsWithAlertsFound > 0)
                {
                    <p class="govuk-body">@Model.FilterModel.TotalNumberOfApprenticeshipsFound apprentice record@(Model.FilterModel.TotalNumberOfApprenticeshipsFound != 1 ? "s" : null) @Model.FilterModel.FiltersUsedMessage, @Model.FilterModel.TotalNumberOfApprenticeshipsWithAlertsFound with alerts</p>
                }
                else
                {
                    <p class="govuk-body">@Model.FilterModel.TotalNumberOfApprenticeshipsFound apprentice record@(Model.FilterModel.TotalNumberOfApprenticeshipsFound != 1 ? "s" : null) @Model.FilterModel.FiltersUsedMessage</p>
                }
                
            </div>
            <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet">
                <a class="govuk-body govuk-link" 
                   asp-route="@RouteNames.DownloadApprentices" 
                   asp-all-route-data="@Model.FilterModel.RouteData"
                   aria-label="Download all data">Download filtered data (CSV)</a>
            </div>
        </div>
    }
    else
    {
        <div class="govuk-grid-row govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-two-thirds">
                @if (Model.FilterModel.TotalNumberOfApprenticeshipsWithAlertsFound > 0)
                {
                    <p class="govuk-body">@Model.FilterModel.TotalNumberOfApprenticeshipsFound apprentice record@(Model.FilterModel.TotalNumberOfApprenticeships != 1 ? "s" : null), @Model.FilterModel.TotalNumberOfApprenticeshipsWithAlertsFound with alerts</p>
                }
                else
                {
                    <p class="govuk-body">@Model.FilterModel.TotalNumberOfApprenticeshipsFound apprentice record@(Model.FilterModel.TotalNumberOfApprenticeships != 1 ? "s" : null)</p>
                }
                
            </div>
            <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet">
                <a class="govuk-body govuk-link" 
                   asp-route="@RouteNames.DownloadApprentices" 
                   asp-all-route-data="@Model.FilterModel.RouteData"
                   aria-label="Download all data">Download all data (CSV)</a>
            </div>
        </div>
    }
    <table class="govuk-table das-table--responsive">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Apprentice name</th>
                <th scope="col" class="govuk-table__header">ULN</th>
                <th scope="col" class="govuk-table__header">Employer</th>
                <th scope="col" class="govuk-table__header">Apprenticeship training course</th>
                <th scope="col" class="govuk-table__header">Planned start date</th>
                <th scope="col" class="govuk-table__header">Planned end date</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Alerts</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var apprenticeships in Model.Apprenticeships)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Apprentice name">
                        @apprenticeships.ApprenticeName
                    </td>
                    <td class="govuk-table__cell" data-label="ULN">
                        @apprenticeships.Uln
                    </td>
                    <td class="govuk-table__cell" data-label="Employer">
                        @apprenticeships.Employer
                    </td>
                    <td class="govuk-table__cell" data-label="Apprenticeship training course">
                        @apprenticeships.CourseName
                    </td>
                    <td class="govuk-table__cell" data-label="Planned start date">
                        @apprenticeships.PlannedStartDate.ToGdsFormatWithoutDay()
                    </td>
                    <td class="govuk-table__cell" data-label="Planned end date">
                        @apprenticeships.PlannedEndDate.ToGdsFormatWithoutDay()
                    </td>
                    <td class="govuk-table__cell" data-label="Status">
                        @apprenticeships.Status
                    </td>
                    <td class="govuk-table__cell" data-label="Alerts">
                        @apprenticeships.Alerts
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.ShowPageLinks)
{
    <nav role="navigation" aria-label="Pagination">
        @if (Model.FilterModel.TotalNumberOfApprenticeshipsWithAlertsFound > 0)
        {
            <div class="das-pagination__summary">
                Showing @Model.FilterModel.PagedRecordsFrom to @Model.FilterModel.PagedRecordsTo of @Model.FilterModel.TotalNumberOfApprenticeshipsFound
                apprentice records
            </div>
        }
        else
        {
            <div class="das-pagination__summary">
                Showing @Model.FilterModel.PagedRecordsFrom to @Model.FilterModel.PagedRecordsTo of @Model.FilterModel.TotalNumberOfApprenticeshipsFound
                apprentice records, @Model.FilterModel.TotalNumberOfApprenticeshipsWithAlertsFound with alerts
            </div>
        }
        <ul class="das-pagination">
            @foreach (var pageLink in Model.FilterModel.PageLinks)
            {
                <li class="das-pagination__item">
                    <a class="das-pagination__link @(pageLink.IsCurrent.HasValue && pageLink.IsCurrent.Value ? "current":"")"
                       asp-route="@RouteNames.ManageApprentices"
                       asp-all-route-data="@pageLink.RouteData"
                       aria-current="@pageLink.IsCurrent"
                       aria-label="@pageLink.AriaLabel">
                        @pageLink.Label
                    </a>
                </li>
            }
        </ul>
    </nav>
}

@section breadcrumb {
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
}