@using SFA.DAS.Commitments.Shared.Extensions
@model SFA.DAS.ProviderCommitments.Web.Models.ManageApprenticesViewModel

@{
    ViewData["Title"] = "Manage Your Apprentices";
}

<h1 class="govuk-heading-xl">Manage your apprentices</h1>

@if (!Model.AnyApprenticeships)
{
    <div class="govuk-inset-text das-inset-text--filled das-inset-text--highlight">
        <p>Your apprentices will appear here once you and the employer approve their details.</p>
    </div>
}
else
{
    <a class="govuk-link" href="@Url.RouteUrl("Download",new {providerId = Model.ProviderId})" aria-label="Download all data">Download all data (CSV)</a>

    <table class="govuk-table das-table--responsive">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="@Url.RouteUrl("Index", new {providerId = Model.ProviderId, sortField = "FirstName", isReversed= Model.SortField.ToLower()=="firstname"})">Apprentice name</a></th>
                <th scope="col" class="govuk-table__header"><a href="@Url.RouteUrl("Index", new {providerId = Model.ProviderId, sortField = "Uln", isReversed= Model.SortField.ToLower()=="uln"})">ULN</a></th>
                <th scope="col" class="govuk-table__header"><a href="@Url.RouteUrl("Index", new {providerId = Model.ProviderId, sortField = "LegalEntityName", isReversed= Model.SortField.ToLower()=="legalentityname"})">Employer</a></th>
                <th scope="col" class="govuk-table__header"><a href="@Url.RouteUrl("Index", new {providerId = Model.ProviderId, sortField = "CourseName", isReversed= Model.SortField.ToLower()=="coursename"})">Apprenticeship training course</a></th>
                <th scope="col" class="govuk-table__header"><a href="@Url.RouteUrl("Index", new {providerId = Model.ProviderId, sortField = "StartDate", isReversed= Model.SortField.ToLower()=="startdate"})">Planned start date</a></th>
                <th scope="col" class="govuk-table__header"><a href="@Url.RouteUrl("Index", new {providerId = Model.ProviderId, sortField = "EndDate", isReversed= Model.SortField.ToLower()=="enddate"})">Planned end date</a></th>
                <th scope="col" class="govuk-table__header"><a href="@Url.RouteUrl("Index", new {providerId = Model.ProviderId, sortField = "PaymentStatus", isReversed= Model.SortField.ToLower()=="paymentstatus"})">Status</a></th>
                <th scope="col" class="govuk-table__header"><a href="@Url.RouteUrl("Index", new {providerId = Model.ProviderId, sortField = "DataLockStatus", isReversed= Model.SortField.ToLower()=="datalockstatus"})">Alerts</a></th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var apprenticeships in Model.Apprenticeships)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Apprentice name">
                        @apprenticeships.ApprenticeFirstName @apprenticeships.ApprenticeLastName
                    </td>
                    <td class="govuk-table__cell" data-label="ULN">
                        @apprenticeships.Uln
                    </td>
                    <td class="govuk-table__cell" data-label="Employer">
                        @apprenticeships.EmployerName
                    </td>
                    <td class="govuk-table__cell" data-label="Apprenticeship training course">
                        @apprenticeships.CourseName
                    </td>
                    <td class="govuk-table__cell" data-label="Planned start date">
                        @apprenticeships.PlannedStartDate.ToGdsFormatWithoutDay()
                    </td>
                    <td class="govuk-table__cell" data-label="Planned end date">
                        @apprenticeships.PlannedEndDateTime.ToGdsFormatWithoutDay()
                    </td>
                    <td class="govuk-table__cell" data-label="Status">
                        @apprenticeships.PaymentStatus
                    </td>
                    <td class="govuk-table__cell" data-label="Alerts">
                        @if (apprenticeships.Alerts.Any())
                        {
                            @apprenticeships.Alerts.Aggregate((a, b) => $"{a} {Environment.NewLine} {b}")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section breadcrumb {
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
}