@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.CommitmentsV2.Types
@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.ChangeEmployerRequestDetailsViewModel

@{
    ViewData["Title"] = "View changes";
    ViewBag.GaData.Vpv = "/apprentices/apprentice/change-employer/request-details";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">View changes</h1>

        @if (!Model.CohortId.HasValue)
        {
            <p><span id="new-employer">@Model.EmployerName</span> are reviewing the new details.</p>
        }
        else
        {
            var url = Url.ProviderApprenticeshipServiceLink($"{Model.ProviderId}/apprentices/{Model.CohortReference}/Details");

            if (Model.WithParty == Party.Employer)
            {
                <p><span id="new-employer">@Model.EmployerName</span> are <a id="cohort-link" href="@url">reviewing the new details</a>.</p>
            }
            else
            {
                <p><span id="new-employer">@Model.EmployerName</span> requested further changes. <a id="cohort-link" href="@url">Review the apprentice details to update</a>.</p>
            }
        }

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header das-table-cell-width-40"></th>
                    <th class="govuk-table__header das-table-cell-width-30">Current details</th>
                    <th class="govuk-table__header das-table-cell-width-30">Requested changes</th>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Employer</th>
                    <td id="current-employer" class="govuk-table__cell">@Model.CurrentEmployerName</td>
                    <td id="employer" class="govuk-table__cell">@Model.EmployerName</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Training start date</th>
                    <td id="current-start-date" class="govuk-table__cell">@Model.CurrentStartDate.ToGdsFormatLongMonthWithoutDay()</td>
                    <td id="start-date" class="govuk-table__cell">@Model.StartDate.ToGdsFormatLongMonthWithoutDay()</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Total agreed apprenticeship price</th>
                    <td id="current-price" class="govuk-table__cell">@Model.CurrentPrice.ToGdsCostFormat()</td>
                    <td id="price" class="govuk-table__cell">@Model.Price.ToGdsCostFormat()</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

@section breadcrumb
{
    <a id="back-link" class="govuk-back-link" href="@Url.Action("Details", new { @Model.ProviderId, @Model.ApprenticeshipHashedId })">Back</a>
}