@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.ProviderCommitments.Web.RouteValues
@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.ChangeStartDateViewModel

@{
    ViewData["Title"] = "New training start date";
    ViewBag.GaData.Vpv = "/apprentices/change-employer/dates";
}

<h1 class="govuk-heading-xl">New training start date</h1>

<p class="govuk-body">The restarted date must be on or after the stop date.</p>

<table class="govuk-table">
    <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"></th>
            <td class="govuk-table__cell"></td>
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header das-table-cell-width-50">Stop Date:</th>
            <td id="stop-date" class="govuk-table__cell">@Model.StopDate.Value.ToGdsFormatWithoutDay()</td>
        </tr>

    </tbody>
</table>

<form method="post">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="start-date-hint">

        <div class="govuk-form-group @(ViewContext.ModelState.IsValid ? "" : "govuk-form-group--error")">



            <span id="start-date-hint" class="govuk-hint">
                For example, 11 2019
            </span>

            @if (!ViewContext.ModelState.IsValid)
            {
                <span id="start-date-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Enter the new training start date for this apprenticeship
                </span>
            }

            <div class="govuk-date-input" id="start-date">

                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="start-date-month">
                            Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 @(ViewContext.ModelState.IsValid ? "" : "govuk-form-group--error")" id="start-date-month" name="start-date-month" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                </div>

                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="start-date-year">
                            Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4 @(ViewContext.ModelState.IsValid ? "" : "govuk-form-group--error")" id="start-date-year" name="start-date-year" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                </div>
            </div>
        </div>

        <button id="save-and-continue-button" class="govuk-button" type="submit" data-module="govuk-button">
            Save and continue
        </button>

    </fieldset>
</form>


@section breadcrumb
{
    <a id="back-link" class="govuk-back-link" href="@Url.RouteUrl(RouteNames.ApprenticeConfirmEmployer, new { Model.EmployerAccountLegalEntityPublicHashedId})">Back</a>
}