@using Microsoft.AspNetCore.Routing
@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.ProviderCommitments.Extensions
@using SFA.DAS.ProviderCommitments.Infrastructure.OuterApi.Types
@using SFA.DAS.ProviderCommitments.Web.Extensions
@using SFA.DAS.ProviderCommitments.Web.RouteValues
@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.ChangeOfEmployerOverlapAlertViewModel

@{
    ViewBag.Title = "There may be a problem with the proposed training details";
    ViewBag.GaData.Vpv = "/apprentices/apprentice/change-employer/confirm";
    ViewBag.GaData.Org = Model.OldEmployerName;
    var hasStopDate = Model.StopDate.HasValue;
    var stopDateString = hasStopDate ? DisplayDate(Model.StopDate.Value) : "";

    var isRegular = Model.DeliveryModel != DeliveryModel.PortableFlexiJob;

    var routeData = new
    {
        CacheKey = Model.CacheKey,
        IsEdit = true,
        Model.ApprenticeshipHashedId,
        providerId = Context.GetRouteValue("providerId")
    };
    
    string DisplayDate(DateTime value) => $"{value:MMMM yyyy}";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

        @if (Model.ExceedsFundingBandCap)
        {
            <div class="govuk-inset-text das-inset-text--highlight">
                <h3 class="govuk-heading-s">This apprenticeship is above the funding band maximum</h3>
                <p>
                    The new agreed apprenticeship price is above the @Model.FundingBandCap.Value.ToGdsCostFormat() <a target="_blank" href="https://www.gov.uk/government/publications/apprenticeship-funding-bands">maximum value of the funding band</a> for this apprenticeship.
                    You'll need to ask the new employer to pay the difference directly to you - this can't be funded from their account.
                </p>
            </div>
        }

        <table class="govuk-table">
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header das-table-cell-width-45">Apprentice name</th>
                <td class="govuk-table__cell das-table-cell-width-40">@Model.ApprenticeName</td>
                <td class="govuk-table__cell">&nbsp;</td>
            </tr>
            </tbody>
        </table>
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Current details</h2>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header das-table-cell-width-45">Employer</th>
                <td class="govuk-table__cell das-table-cell-width-40">@Model.OldEmployerName</td>
                <td class="govuk-table__cell">&nbsp;</td>
            </tr>
            <tr asp-hide="!@Model.ShowDeliveryModel" class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Delivery model</th>
                <td class="govuk-table__cell">@Model.OldDeliveryModel.ToDescription()</td>
                <td class="govuk-table__cell">&nbsp;</td>
            </tr>
            <tr class="govuk-table__row">
                <th asp-show="@isRegular" scope="row" class="govuk-table__header">Training start date</th>
                <th asp-hide="@isRegular" scope="row" class="govuk-table__header">Current employment start date</th>
                <td class="govuk-table__cell">@DisplayDate(Model.OldStartDate)</td>
                <td class="govuk-table__cell">&nbsp;</td>
            </tr>
            <tr asp-show="@isRegular" class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Training end date</th>
                <td class="govuk-table__cell">@DisplayDate(Model.OldEndDate)</td>
                <td class="govuk-table__cell">&nbsp;</td>
            </tr>
            <tr asp-hide="@isRegular" class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Current employment end date</th>
                <td asp-show="@Model.OldEmploymentEndDate.HasValue" class="govuk-table__cell">@DisplayDate(Model.OldEmploymentEndDate.Value)</td>
                <td class="govuk-table__cell">&nbsp;</td>
            </tr>
            <tr asp-hide="hasStopDate == false" class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Stop applies from</th>
                <td class="govuk-table__cell">@stopDateString</td>
                <td class="govuk-table__cell">&nbsp;</td>
            </tr>
            <tr asp-hide="@isRegular" class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Training price for this employment</th>
                <td class="govuk-table__cell">@Model.OldEmploymentPrice?.ToGdsCostFormat()</td>
                <td class="govuk-table__cell">&nbsp;</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total agreed apprenticeship price</th>
                <td class="govuk-table__cell">@Model.OldPrice.ToGdsCostFormat()</td>
                <td class="govuk-table__cell">&nbsp;</td>
            </tr>
            </tbody>
        </table>
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Requested changes</h2>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header das-table-cell-width-45">New employer</th>
                <td class="govuk-table__cell das-table-cell-width-40">@Model.NewEmployerName</td>
                <td class="govuk-table__cell">&nbsp;</td>
            </tr>
            <tr asp-hide="!@Model.ShowDeliveryModel" class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Delivery model</th>
                <td class="govuk-table__cell">@Model.DeliveryModel.GetReferenceDataDescription()</td>
                <td class="govuk-table__cell">
                    <a asp-hide="!@Model.ShowDeliveryModelChangeLink" id="change-delivery-model-link" class="govuk-link" href="@Url.RouteUrl(RouteNames.ApprenticeSelectDeliveryModel, routeData)">Change</a>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th asp-show="@isRegular" scope="row" class="govuk-table__header">New training start date</th>
                <th asp-hide="@isRegular" scope="row" class="govuk-table__header">New employment start date</th>
                <td class="govuk-table__cell">@DisplayDate(Model.NewStartDateTime)</td>
                <td class="govuk-table__cell">
                    <a id="change-dates-link" class="govuk-link" href="@Url.RouteUrl(RouteNames.ApprenticeTrainingDates, routeData)">Change</a>
                </td>
            </tr>
            <tr asp-hide="@isRegular" class="govuk-table__row">
                <th scope="row" class="govuk-table__header">New employment end date</th>
                <td class="govuk-table__cell">@DisplayDate(Model.NewEmploymentEndDateTime.Value)</td>
                <td class="govuk-table__cell">
                    <a id="change-dates-link" class="govuk-link" href="@Url.RouteUrl(RouteNames.ApprenticeTrainingDates, routeData)">Change</a>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th asp-show="@isRegular" scope="row" class="govuk-table__header">New training end date</th>
                <th asp-hide="@isRegular" scope="row" class="govuk-table__header">Projected apprenticeship training end date</th>
                <td class="govuk-table__cell">@DisplayDate(Model.NewEndDateTime)</td>
                <td class="govuk-table__cell">
                    <a id="change-dates-link" class="govuk-link" href="@Url.RouteUrl(RouteNames.ApprenticeTrainingDates, routeData)">Change</a>
                </td>
            </tr>
            <tr asp-hide="@isRegular" class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Training price for this employment</th>
                <td class="govuk-table__cell">@Model.NewEmploymentPrice.Value.ToGdsCostFormat()</td>
                <td class="govuk-table__cell">
                    <a id="change-price-link" class="govuk-link" href="@Url.RouteUrl(RouteNames.ApprenticePrice, routeData)">Change</a>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th asp-show="@isRegular" scope="row" class="govuk-table__header">New agreed apprenticeship price</th>
                <th asp-hide="@isRegular" scope="row" class="govuk-table__header">Total agreed apprenticeship price</th>
                <td class="govuk-table__cell">@Model.NewPrice.ToGdsCostFormat()</td>
                <td class="govuk-table__cell">
                    <a id="change-price-link" class="govuk-link" href="@Url.RouteUrl(RouteNames.ApprenticePrice, routeData)">Change</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<form method="post">

    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="AccountLegalEntityPublicHashedId"/>
    <input type="hidden" asp-for="CacheKey"/>
    <input type="hidden" asp-for="ProviderId"/>

    <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.DetailsAcknowledgement, " govuk-form-group--error")">
        <fieldset class="govuk-fieldset">

            @Html.ValidationMessageFor(m => m.DetailsAcknowledgement, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.DetailsAcknowledgement) })
            <div class="govuk-checkboxes govuk-checkboxes--conditional" data-module="checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="checkbox-acknowledgement" name="DetailsAcknowledgement" type="checkbox" value="true">
                    <label class="govuk-label govuk-checkboxes__label" for="checkbox-acknowledgement">
                        Yes, these details are correct
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <button id="confirm-button" type="Submit" class="govuk-button">
        Save and send
    </button>
</form>

@section breadcrumb
{
    <a id="back-link" class="govuk-back-link" href="@Url.RouteUrl(RouteNames.ApprenticePrice, routeData)">Back</a>
}