@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.ProviderCommitments.Web.RouteValues
@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.ConfirmViewModel

@{
    ViewBag.Title = "Confirm the information before sending your request";
    ViewBag.GaData.Vpv = "/apprentices/apprentice/change-employer/confirm";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

        @if (Model.ExceedsFundingBandCap)
        {
            <div class="govuk-inset-text das-inset-text--highlight">
                <h3 class="govuk-heading-s">This apprenticeship is above the funding band maximum</h3>
                <p>
                    The new agreed apprenticeship price is above the @Model.FundingBandCap.Value.ToGdsCostFormat() <a target="_blank" href="https://www.gov.uk/government/publications/apprenticeship-funding-bands">maximum value of the funding band</a> for this apprenticeship.
                    You'll need to ask the new employer to pay the difference directly to you - this can't be funded from their account.
                </p>
            </div>
        }

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header das-table-cell-width-45">Apprentice name</th>
                    <td class="govuk-table__cell das-table-cell-width-40">@Model.ApprenticeName</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Current details</h2>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header das-table-cell-width-45">Employer</th>
                    <td class="govuk-table__cell das-table-cell-width-40">@Model.OldEmployerName</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Training start date</th>
                    <td class="govuk-table__cell">@DisplayDate(Model.OldStartDate)</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Stop applies from</th>
                    <td class="govuk-table__cell">@DisplayDate(Model.StopDate)</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Total agreed apprenticeship price</th>
                    <td class="govuk-table__cell">@Model.OldPrice.ToGdsCostFormat()</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Requested changes</h2>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header das-table-cell-width-45">New employer</th>
                    <td class="govuk-table__cell das-table-cell-width-40">@Model.NewEmployerName</td>
                    <td class="govuk-table__cell">&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">New training start date</th>
                    <td class="govuk-table__cell">@DisplayDate(Model.NewStartDate.Date.Value)</td>
                    <td class="govuk-table__cell">
                        <a id="change-dates-link" class="govuk-link" href="@Url.RouteUrl(RouteNames.ApprenticeDates, new { Model.EmployerAccountLegalEntityPublicHashedId, StartDate = Model.NewStartDate.MonthYear, Price = Model.NewPrice})">Change</a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">New agreed apprenticeship price</th>
                    <td class="govuk-table__cell">@Model.NewPrice.ToGdsCostFormat()</td>
                    <td class="govuk-table__cell">
                        <a id="change-price-link" class="govuk-link" href="@Url.RouteUrl(RouteNames.ApprenticePrice, new { Model.EmployerAccountLegalEntityPublicHashedId, StartDate = Model.NewStartDate.MonthYear, Price = Model.NewPrice})">Change</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@functions
{
    private string DisplayDate(DateTime value)
    {
        return $"{value:MMMM yyyy}";
    }
}


@section breadcrumb
{
    <a id="back-link" class="govuk-back-link" href="@Url.RouteUrl(RouteNames.ApprenticePrice, new { Model.EmployerAccountLegalEntityPublicHashedId, StartDate = Model.NewStartDate.MonthYear})">Back</a>
}