@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.InformViewModel

@{
    ViewData["Title"] = "What you'll need";
    ViewBag.GaData.Vpv = "/apprentices/apprentice/change-employer/inform";
    ViewBag.GaData.Org = Model.LegalEntityName;
    
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Change of employer</h1>

            <p class="govuk-body">Before you change an apprentice's employer, you'll need to:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>get <a id="permission-link" class="govuk-body govuk-link" href="https://help.apprenticeships.education.gov.uk/hc/en-gb/articles/360009563399-Training-provider-permissions-training-provider-" target="_blank">permissions</a> from the new employer to move the apprentice to their account</li>
                <li>agree the new training start and planned end dates</li>
                <li>agree the remaining costs of training</li>
                <li>check the apprentice's details are correct</li>
        </ul>

            <p class="govuk-body">
                If the new employer does not pay the apprenticeship levy, they will not need to reserve new funding.
            </p>

        <a id="change-the-employer-button" class="govuk-button" href="@Url.Action("SelectEmployer", new { @Model.ProviderId, @Model.ApprenticeshipHashedId })">Continue</a>

    </div>
</div>

@section breadcrumb
{
    <a id="back-link" class="govuk-back-link" href="@Url.Action("Details", new { @Model.ProviderId, @Model.ApprenticeshipHashedId })">Back</a>
}