@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.ProviderCommitments.Web.Models.Apprentice
@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.Edit.ReviewApprenticeshipUpdatesViewModel
@inject ILinkGenerator LinkGenerator;

@{
    ViewBag.Title = "Review changes";
    ViewBag.Section = "apprentices";
    ViewBag.PageID = "review-changes";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />

        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>
        <form method="POST">

            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="ProviderId"/>
            <input type="hidden" asp-for="ApprenticeshipHashedId"/>
            <input type="hidden" asp-for="IsValidCourseCode"/>

            @if (!Model.IsValidCourseCode)
            {
                <div class="govuk-inset-text">
                    You need to either add this training course to your <a href="@LinkGenerator.CourseManagementLink($"{Model.ProviderId}/review-your-details")" class="govuk-link">'standards and training venues'</a> or reject the changes as you are not able to offer this training.
                </div>
            }

            <partial name="ApprenticeshipUpdatesPartials/_ViewOriginalApprenticeshipForApprenticeshipUpdates" for="OriginalApprenticeship" />
            <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.IsValidCourseCode,  "govuk-form-group--error")">
                <p>@Model.EmployerName have suggested these changes:</p>

                @Html.ValidationMessageFor(m => m.IsValidCourseCode, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.IsValidCourseCode) })
                @Html.ValidationMessageFor(m => m.ApproveAddStandardToTraining, " ", new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.ApproveAddStandardToTraining) })

                <partial name="ApprenticeshipUpdatesPartials/_ViewApprenticeshipUpdates" />
            </div>

            @if (!Model.IsValidCourseCode)
            {
                <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.IsValidCourseCode, "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                Would you like to?
                            </h2>
                        </legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ApproveAddStandardToTraining" name="ApproveAddStandardToTraining" type="radio" value="true">
                                <label class="govuk-label govuk-radios__label" for="ApproveAddStandardToTraining">
                                    Add this standard to your standard training venues
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ApproveAddStandardToTraining-no" name="ApproveAddStandardToTraining" type="radio" value="false">
                                <label class="govuk-label govuk-radios__label" for="ApproveAddStandardToTraining-no">
                                    Reject these changes
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            }
            else
            {
                <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.ApproveChanges,  "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                Are you happy to approve these changes?
                            </h2>
                        </legend>
                        <div class="govuk-radios">
                            @Html.ValidationMessageFor(m => m.ApproveChanges, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.ApproveChanges) })
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ApproveChanges" name="ApproveChanges" type="radio" value="true">
                                <label class="govuk-label govuk-radios__label" for="AcceptChanges">
                                    Yes, approve these changes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ApproveChanges-no" name="ApproveChanges" type="radio" value="false">
                                <label class="govuk-label govuk-radios__label" for="AcceptChanges-no">
                                    No, reject these changes
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            }

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" type="submit" id="continue-button">
                    Continue
                </button>
                <a class="govuk-link govuk-link--no-visited-state" href="@Url.Action("Details", new DetailsRequest{ ProviderId = Model.ProviderId, ApprenticeshipHashedId = Model.ApprenticeshipHashedId })" id="cancel-button">Cancel and return</a>
            </div>
        </form>
    </div>
</div>

@section breadcrumb {
    <a id="back-link" class="govuk-back-link" href="@Url.Action("Details", new { ProviderId = Model.ProviderId, ApprenticeshipHashedId = Model.ApprenticeshipHashedId })">Back to the apprentice details</a>
}