@using SFA.DAS.ProviderCommitments.Web.RouteValues
@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.SelectEmployerViewModel

@{
    ViewData["Title"] = "Choose an employer";
    ViewBag.GaData.Vpv = "/apprentices/apprentice/change-employer/select-employer";
    ViewBag.GaData.Org = Model.LegalEntityName;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Choose a new employer for this apprentice</h1>

        <div class="govuk-inset-text">
            The new employer must have <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/articles/360009563399-Training-provider-permissions-training-provider" target="_blank">set up permissions</a> for you in order to appear in this list.
        </div>

        <table class="govuk-table das-table--responsive">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header das-table-cell-width-25">Employer</th>
                    <th scope="col" class="govuk-table__header das-table-cell-width-25">Account name</th>
                    <th scope="col" class="govuk-table__header das-table-cell-width-25">Agreement ID</th>
                    <th scope="col" class="govuk-table__header das-table-cell-width-10  govuk-table__header--numeric"><span class="govuk-visually-hidden">Action</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                @foreach (var viewModel in Model.AccountProviderLegalEntities)
                {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Employer">@viewModel.EmployerAccountLegalEntityName</td>
                    <td class="govuk-table__cell" data-label="Account name">@viewModel.EmployerAccountName</td>
                    <td class="govuk-table__cell" data-label="Agreement ID">@viewModel.EmployerAccountLegalEntityPublicHashedId</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Link">
                        <a href="@Url.RouteUrl(RouteNames.ApprenticeConfirmEmployer,  new {viewModel.EmployerAccountLegalEntityPublicHashedId })">Select</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section breadcrumb
{
    <a id="back-link" class="govuk-back-link" href="@Url.RouteUrl(RouteNames.ChangeEmployer)">Back</a>
}