@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.DetailsViewModel
@using SFA.DAS.ProviderCommitments.Web.Models.Apprentice

@if (Model.DataLockStatus == DetailsViewModel.DataLockSummaryStatus.AwaitingTriage)
{
    <div class="das-notification" tabindex="-1">
        <h3 class="das-notification__heading">Change request pending</h3>
        <p class="das-notification__body">Payment for @Model.ApprenticeName can't be made until this is resolved.</p>
    </div>
}
else if (Model.DataLockStatus == DetailsViewModel.DataLockSummaryStatus.HasUnresolvedDataLocks)
{
    <div class="das-notification" tabindex="-1">
        <h3 class="das-notification__heading">ILR data mismatch</h3>
        <p class="das-notification__body">Payment for @Model.ApprenticeName can't be made until this is resolved.</p>
        @if (!Model.SuppressDataLockStatusReviewLink)
        {
    <p class="das-notification__body">

        @if (Model.AvailableTriageOption == DetailsViewModel.TriageOption.Restart)
        {
            <a id="triage-link-restart" href="@Url.ProviderApprenticeshipServiceLink($"{Model.ProviderId}/apprentices/manage/{Model.ApprenticeshipHashedId}/datalock/requestrestart")" class="govuk-link triage-link">View details V1</a>
            <br/>
            <a id="triage-link-restart" href="@Url.Action("DataLockRequestRestart", new { Model.ProviderId, Model.ApprenticeshipHashedId })" class="govuk-link triage-link">View details V2</a>
        }
        else if (Model.AvailableTriageOption == DetailsViewModel.TriageOption.Update)
        {
            <a id="triage-link-update" href="@Url.ProviderApprenticeshipServiceLink($"{Model.ProviderId}/apprentices/manage/{Model.ApprenticeshipHashedId}/datalock")" class="govuk-link triage-link">View details</a>
        }
        else if (Model.AvailableTriageOption == DetailsViewModel.TriageOption.Both)
        {
            <a id="triage-link-restart" href="@Url.ProviderApprenticeshipServiceLink($"{Model.ProviderId}/apprentices/manage/{Model.ApprenticeshipHashedId}/datalock/requestrestart")" class="govuk-link triage-link">View course mismatch</a>
            <br />
            <a id="triage-link-update" href="@Url.ProviderApprenticeshipServiceLink($"{Model.ProviderId}/apprentices/manage/{Model.ApprenticeshipHashedId}/datalock")" class="govuk-link triage-link">View price mismatch</a>
        }
    </p>
        }
    </div>
}