@using SFA.DAS.CommitmentsV2.Shared.Extensions
@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.DetailsViewModel

@{
    var originalStartDate = Model.StartDate.Value; // Model.ActualStartDate.HasValue? Model.ActualStartDate.Value : Model.StartDate.Value;
}

<tr>
    <td colspan="3">
        <div id="pendingStartDateChangeSection" style="border-left: 5px solid #1d70b8; padding:10px;">

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            <strong class="govuk-tag govuk-tag--yellow">Pending request</strong>
                        </th>
                        <th scope="col" class="govuk-table__header">Current</th>
                        <th scope="col" class="govuk-table__header">Requested</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Training start date</th>
                        <td class="govuk-table__cell">@originalStartDate.ToGdsFormat()</td>
                        <td class="govuk-table__cell">@Model.PendingStartDateChange.PendingStartDate.ToGdsFormat()</td>
                    </tr>

                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Planned training end date</th>
                        <td class="govuk-table__cell">@Model.EndDate.ToGdsFormat()</td>
                        <td class="govuk-table__cell">@Model.PendingStartDateChange.PendingEndDate.ToGdsFormat()</td>
                    </tr>
                </tbody>
            </table>
            <a id="linkViewPendingStartDate" asp-external-controller="" asp-external-subdomain="apprenticeshipdetails"
               asp-external-relativeroute="@Model.PendingStartDateChangeRoute" class="govuk-link">
                View request<span class="govuk-visually-hidden">for change of start date</span>
            </a>

        </div>
    </td>

</tr>
