@model SFA.DAS.ProviderCommitments.Web.Models.Apprentice.DetailsViewModel
@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.CommitmentsV2.Types
@using SFA.DAS.ProviderCommitments.Web.Extensions
@using SFA.DAS.ProviderCommitments.Web.Models.Apprentice
@using SFA.DAS.ProviderCommitments.Web.RouteValues

@{
    ViewData["Title"] = "Apprentice Details";
    ViewBag.GaData.Vpv = "/apprentices/apprentice/details";
    ViewBag.GaData.Org = Model.Employer;
}

<div class="govuk-grid-row govuk-!-margin-bottom-2">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">View details for @Model.ApprenticeName</h1>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help with your changes to the learner's employer
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">
                    If a learner needs to move to a new employer you should:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        contact their original employer and ask them to stop the learner
                        record
                    </li>
                    <li>
                        speak to the new employer to agree new training dates and
                        price
                    </li>

                    <li>
                        request permission to move the learner to the new employer's
                        Apprenticeship service account.
                    </li>
                </ul>
                <p>Once you've agreed these details, you can change the employer.</p>
                <p>
                    Non-levy employers will not need apprenticeship funding reserved when taking on a learner from another
                    employer.
                </p>
            </div>
        </details>

        <h2 class="govuk-heading-m">Learner status</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <partial name="DetailsPartials/_ApprenticeshipStatus" />

            </tbody>
        </table>

        <div class="govuk-grid-row govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Overview</h2>
            </div>
        </div>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">

                    <th scope="row" class="govuk-table__header das-table-cell-width-45">Employer</th>
                    <td id="apprenticeship-employer" class="govuk-table__cell das-table-cell-width-40">
                        @Model.Employer
                    </td>
                    <td class="govuk-table__cell das-table-cell-width-15 govuk-table__cell--numeric">
                        @if (Model.ShowChangeEmployerLink)
                        {
                            <a id="change-employer-link" class="govuk-link"
                               href="@Url.Action("ChangeEmployer", new { Model.ProviderId, Model.ApprenticeshipHashedId })">Change</a>
                        }
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Reference</th>
                    <td id="apprenticeship-reference" class="govuk-table__cell">@Model.Reference</td>
                    <td class="govuk-table__cell"></td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Agreement ID</th>
                    <td id="apprenticeship-agreement-id" class="govuk-table__cell">@Model.AgreementId</td>
                    <td class="govuk-table__cell"></td>
                </tr>
            </tbody>
        </table>

        <div class="govuk-grid-row govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Learner details</h2>
            </div>
            <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet">
                @if (Model.AllowEditApprentice)
                {
                    <a id="edit-apprentice-link"
                       href="@Url.Action("EditApprenticeship", new { ProviderId = Model.ProviderId, ApprenticeshipHashedId = Model.ApprenticeshipHashedId })"
                       class="govuk-link govuk-body">Edit learner</a>
                }
            </div>
        </div>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header das-table-cell-width-45">Name</th>
                    <td id="apprentice-name" class="govuk-table__cell das-table-cell-width-55">
                        @Model.ApprenticeName
                    </td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header das-table-cell-width-45">Email address</th>
                    <td id="apprentice-name" class="govuk-table__cell das-table-cell-width-55">
                        @Model.Email
                    </td>
                    <td class="govuk-table__cell"></td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of birth</th>
                    <td id="apprentice-dob" class="govuk-table__cell">@Model.DateOfBirth.ToGdsFormat()</td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Unique learner number</th>
                    <td id="apprentice-uln" class="govuk-table__cell">@Model.Uln</td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Training course</th>
                    <td id="apprentice-course" class="govuk-table__cell">@Model.CourseName</td>
                    <td class="govuk-table__cell"></td>
                </tr>

                @if (!Model.HasPendingStartDateChange)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Planned training start date</th>
                        <td id="apprentice-start-date" class="govuk-table__cell">@Model.StartDate.Value.ToGdsFormatWithoutDay()</td>
                        <td class="govuk-table__cell">
                        </td>
                    </tr>
                }
                else
                {
                    <partial name="DetailsPartials/_PendingChangeOfStartDateDetails" />
                }

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Planned training end date</th>
                    <td id="apprentice-end-date" class="govuk-table__cell">@Model.EndDate.ToGdsFormatWithoutDay()</td>
                    <td class="govuk-table__cell"></td>
                </tr>

                @if (Model.TrainingPrice.HasValue)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Training price (TNP1)</th>
                        <td id="apprentice-end-date" class="govuk-table__cell">@Model.TrainingPrice</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                }

                @if (Model.EndPointAssessmentPrice.HasValue)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Assessment price (TNP2)</th>
                        <td id="apprentice-end-date" class="govuk-table__cell">@Model.EndPointAssessmentPrice</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                }

                @if (!Model.HasPendingPriceChange)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Total agreed training price</th>
                        <td id="apprentice-price" class="govuk-table__cell">@Model.Cost.ToGdsCostFormat()</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                }

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Your reference</th>
                    <td id="apprentice-end-date" class="govuk-table__cell">@Model.ProviderRef</td>
                    <td class="govuk-table__cell"></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>