@model SFA.DAS.ProviderCommitments.Web.Models.ConfirmEmployerViewModel

@{
    ViewBag.Title = "Confirm Employer";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <partial name="_ValidationSummary" />

                @*<h1 class="govuk-heading-xl">
                    Confirm Employer
                    <br />
                    @Model.EmployerAccountName
                </h1>*@

                <h1 class="heading-xlarge">Confirm employer</h1>
                <p class="heading-large">@Model.EmployerAccountLegalEntityName</p>
                <dl class="inline-secondary">
                    <dt>Account name</dt>
                    <dd>@Model.EmployerAccountName</dd>
                    <dt>Agreement ID</dt>
                    <dd>@Model.EmployerAccountLegalEntityPublicHashedId</dd>
                </dl>

                <form method="post">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.EmployerAccountLegalEntityPublicHashedId)
                    @Html.HiddenFor(x => x.EmployerAccountPublicHashedId)
                    @Html.HiddenFor(x => x.ProviderId)

                    <div class="govuk-form-group @(ViewContext.ModelState.IsValid ? "" : "govuk-form-group--error")">
                        <fieldset class="govuk-fieldset">

                            <legend>
                                @Html.ValidationMessageFor(m => m.Confirm, "Please choose an option", new { id = "error-message-" + Html.IdFor(m => m.Confirm) })
                                <span class="heading-small">
                                    Is this the employer you'd like to add apprentice details for?
                                </span>
                            </legend>

                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input asp-for="Confirm" value="true" type="radio" class="govuk-radios__input" id="confirm-true" />
                                    <label class="govuk-label govuk-radios__label" for="confirm-true">
                                        Yes, use @Model.EmployerAccountLegalEntityName
                                    </label>

                                </div>

                                <div class="govuk-radios__item">
                                    <input asp-for="Confirm" value="false" type="radio" class="govuk-radios__input" id="confirm-false" />
                                    <label class="govuk-label govuk-radios__label" for="confirm-false">
                                        No, choose a different employer
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <button class="govuk-button" type="submit" data-module="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>

@section Back
{
    <a class="govuk-back-link" href=@Model.BackLink>Back</a>
}