@using SFA.DAS.ProviderCommitments.Web.Models
@using SFA.DAS.ProviderCommitments.Web.RouteValues
@model SFA.DAS.ProviderCommitments.Web.Models.Cohort.DraftViewModel

@{
    ViewData["Title"] = "Draft apprentice details";
    ViewBag.GaData.Vpv = "/unapproved/draft";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-row">
        <div class="govuk-width-container">

            @(await Html.PartialAsync("_ApprenticeshipRequestsHeaderPartial", Model.ApprenticeshipRequestsHeaderViewModel))

            @if (Model.Cohorts.Count() > 0)
            {
                <table class="govuk-table das-table--responsive das-table--double-arrows das-table--condensed">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header das-table-cell-width-20">
                                <a class="@(Model.SortField == "Employer" ? Model.SortedByHeaderClassName : SortViewModel.HeaderClassName)"
                                   asp-route="@RouteNames.CohortDraft"
                                   asp-all-route-data="@Model.BuildSortRouteData("Employer")"
                                   title="Sort the table by employer">
                                    Employer
                                </a>
                            </th>
                            <th scope="col" class="govuk-table__header das-table-cell-width-20">
                                <a class="@(Model.SortField == "CohortReference" ? Model.SortedByHeaderClassName : SortViewModel.HeaderClassName)"
                                   asp-route="@RouteNames.CohortDraft"
                                   asp-all-route-data="@Model.BuildSortRouteData("CohortReference")"
                                   title="Sort the table by cohort reference">
                                    Cohort reference
                                </a>
                            </th>
                            <th scope="col" class="govuk-table__header das-table-cell-width-20">
                                <a class="@(Model.SortField == "DateCreated" ? Model.SortedByHeaderClassName : SortViewModel.HeaderClassName)"
                                   asp-route="@RouteNames.CohortDraft"
                                   asp-all-route-data="@Model.BuildSortRouteData("DateCreated")"
                                   title="Sort the table by date created">
                                    Date created
                                </a>
                            </th>
                            <th scope="col" class="govuk-table__header das-table-cell-width-20 govuk-table__header--numeric">Number of apprentices</th>
                            <th scope="col" class="govuk-table__header das-table-cell-width-20 govuk-table__header--numeric"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var cohort in Model.Cohorts)
                        {
                            <tr class="govuk-table__row" data-cohort="@cohort.CohortReference">
                                <td class="govuk-table__cell" data-label="Employer">@cohort.EmployerName</td>
                                <td class="govuk-table__cell" data-label="Reference">@cohort.CohortReference</td>
                                <td class="govuk-table__cell" data-label="DateSentToEmployer">@cohort.DateCreated.ToString("d MMM yyyy")</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Number of apprentices">@cohort.NumberOfApprentices</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric" data-label="">
                                    <a id="details_link_@cohort.CohortReference" class="govuk-link cohort-details-link" href="@Url.Action("Details", new {Model.ProviderId, cohort.CohortReference})">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="govuk-body govuk-!-font-weight-bold">You currently have 0 draft apprentice requests</p>
            }
        </div>
    </div>
</div>

@section breadcrumb
{
    <a id="back-link" class="govuk-back-link" href="@Url.ProviderApprenticeshipServiceLink("account")">Back</a>
}