@using SFA.DAS.ProviderUrlHelper
@using SFA.DAS.ProviderCommitments.Web.Extensions
@inject ILinkGenerator LinkGenerator;
@model SFA.DAS.ProviderCommitments.Web.Models.Cohort.FileUploadReviewApprenticeViewModel

@{
    ViewData["Title"] = "Review Apprentices";
    ViewBag.GaData.Vpv = "/bulk-upload/review-cohort";
}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl  govuk-!-margin-top-4">Review apprentices</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <dl class="govuk-summary-list govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Employer</dt>
                    <dd id="employer-name" class="govuk-summary-list__value">@Model.EmployerName</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Cohort</dt>
                    <dd id="cohort-ref" class="govuk-summary-list__value">@Model.CohortRef</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Total apprentices</dt>
                    <dd id="total-apprentices" class="govuk-summary-list__value">@Model.FileUploadTotalApprenticesText <br /> @Model.ExistingCohortTotalApprenticesText</dd> 
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Total cost</dt>
                    <dd id="total-cost" class="govuk-summary-list__value">@Model.TotalCost.FormatCost()</dd>
                </div>
        </dl>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(Model.CohortRef))
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-s">Message from employer:</h3>
            <div class="govuk-inset-text">
                @Model.MessageFromEmployerText
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <!-- NEW APPRENTICES FROM FILEUPLOAD-->
        <div class="group-header">
            <h2 class="govuk-heading-m group-title">New apprentices to be added from CSV file</h2>
        </div>

        @if (!String.IsNullOrEmpty(@Model.FundingBandTextForFileUploadCohorts))
        {
            <div class="govuk-inset-text das-inset-text--highlight">
                <h3 id="funding-band-text" class="govuk-heading-s">@Model.FundingBandTextForFileUploadCohorts</h3>
                <p>
                    The price for these apprenticeships is above the <a target="_blank" href="https://www.gov.uk/government/publications/apprenticeship-funding-bands"  rel="noopener">funding band maximum</a>.
                    You'll need to ask the employer to pay the difference directly to you - this can't be funded from their account.
                </p>
            </div>
        }

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                If you need to correct any records, you need to amend the data in your LMS, then upload your CSV file again.
            </strong>
        </div>


        <table class="govuk-table" id="FileUploadApprenticesTable" aria-label="NewApprentices">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Apprenticeship <br>training course</th>
                    <th scope="col" class="govuk-table__header">ULN</th>
                    <th scope="col" class="govuk-table__header">Date of birth</th>
                    <th scope="col" class="govuk-table__header">Email</th>
                    <th scope="col" class="govuk-table__header">Training dates</th>
                    <th scope="col" class="govuk-table__header">Price</th>
                </tr>
            </thead>

            <tbody class="govuk-table__body govuk-!-font-size-16">

                @foreach (var fileUploadApprentice in Model.FileUploadCohortDetails)
                {
                    <tr class="govuk-table__row">
                        <td id="fileupload-apprentice-name" class="govuk-table__cell">@fileUploadApprentice.Name</td>
                        <td id="fileupload-training-course" class="govuk-table__cell">@fileUploadApprentice.TrainingCourse</td>
                        <td id="fileupload-apprentice-uln" class="govuk-table__cell">@fileUploadApprentice.ULN</td>
                        <td id="fileupload-apprentice-dob" class="govuk-table__cell">@fileUploadApprentice.DateOfBirth</td>
                        <td id="fileupload-apprentice-email" class="govuk-table__cell">@fileUploadApprentice.Email</td>
                        <td id="fileupload-apprentice-training-dates" class="govuk-table__cell">@fileUploadApprentice.TrainingDates</td>
                        <td id="fileupload-apprentice-cost" class="govuk-table__cell">                            
                            @if (fileUploadApprentice.ExceedsFundingBandCap)
                            {
                                <span class="das-table-cell--highlight">
                                    @fileUploadApprentice.Price.FormatCost()
                                </span>
                            }
                            else
                            {
                                @fileUploadApprentice.Price.FormatCost()
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <!-- END NEW APPRENTICES FROM FILEUPLOAD-->

        <!-- EXISTING APPRENTICES -->
        @if (Model.ExistingCohortDetails.Count > 0)
        { 
            <div class="group-header">
                <h2 class="govuk-heading-m group-title govuk-!-margin-top-8">Apprentices previously added to this cohort </h2>
            </div>

            @if (!String.IsNullOrEmpty(@Model.FundingBandTextForExistingCohorts))
            {
                <div class="govuk-inset-text das-inset-text--highlight">
                    <h3 id="funding-band-text" class="govuk-heading-s">@Model.FundingBandTextForExistingCohorts</h3>
                    <p>
                        The price for these apprenticeships is above the <a target="_blank" href="https://www.gov.uk/government/publications/apprenticeship-funding-bands" rel="noopener">funding band maximum</a>.
                        You'll need to ask the employer to pay the difference directly to you - this can't be funded from their account.
                    </p>
                </div>
            }

            <table class="govuk-table" id="ExistingApprenticesTable" aria-label="ExistingApprentices">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Apprenticeship <br>training course</th>
                        <th scope="col" class="govuk-table__header">ULN</th>
                        <th scope="col" class="govuk-table__header">Date of birth</th>
                        <th scope="col" class="govuk-table__header">Email</th>
                        <th scope="col" class="govuk-table__header">Training dates</th>
                        <th scope="col" class="govuk-table__header">Price</th>
                    </tr>
                </thead>

                <tbody class="govuk-table__body govuk-!-font-size-16">

                    @foreach (var existingApprentice in Model.ExistingCohortDetails)
                    {
                        <tr class="govuk-table__row">
                            <td id="existing-apprentice-name" class="govuk-table__cell">@existingApprentice.Name</td>
                            <td id="existing-training-course" class="govuk-table__cell">@existingApprentice.TrainingCourse</td>
                            <td id="existing-apprentice-uln" class="govuk-table__cell">@existingApprentice.ULN</td>
                            <td id="existing-apprentice-dob" class="govuk-table__cell">@existingApprentice.DateOfBirth</td>
                            <td id="existing-apprentice-email" class="govuk-table__cell">@existingApprentice.Email</td>
                            <td id="existing-apprentice-training-dates" class="govuk-table__cell">@existingApprentice.TrainingDates</td>
                            <td id="existing-apprentice-cost" class="govuk-table__cell">
                                @if (existingApprentice.ExceedsFundingBandCapForExistingCohort)
                                {
                                    <span class="das-table-cell--highlight">
                                        @existingApprentice.Price.FormatCost()
                                    </span>
                                }
                                else
                                {
                                    @existingApprentice.Price.FormatCost()
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <!-- END EXISTING APPRENTICES -->
    </div>
</div>

<a id="back-link-top" href="@Url.Action("FileUploadReview", new { @Model.ProviderId, @Model.CacheRequestId })" class="govuk-back-link govuk-!-margin-bottom-6">Back</a>

@section breadcrumb
{
    <a id="back-link-bottom" class="govuk-back-link" href="@Url.Action("FileUploadReview", new { @Model.ProviderId, @Model.CacheRequestId })">Back</a>
}
