@using SFA.DAS.ProviderCommitments.Web.Models
@using SFA.DAS.ProviderCommitments.Web.RouteValues
@model SFA.DAS.ProviderCommitments.Web.Models.BulkUploadAddAndApproveDraftApprenticeshipsViewModel

@{
    ViewData["Title"] = "Apprentice details saved and send to employer successfully";
    ViewBag.GaData.Vpv = "/bulk-upload/success";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                New apprentices added and sent to employer(s) for approval
            </h1>
        </div>

        <p class="govuk-body">We have sent confirmation emails to you and the employer(s).</p>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Cohorts sent</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Employer</th>
                    <th scope="col" class="govuk-table__header">Cohort</th>
                    <th scope="col" class="govuk-table__header">Number of apprentices</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                @foreach (var cohort in Model.BulkUploadDraftApprenticeshipsViewModel)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="EmployerName">@cohort.EmployerName</td>
                        <td class="govuk-table__cell" data-label="CohortReference">@cohort.CohortReference</td>
                        <td class="govuk-table__cell" data-label="NumberOfApprenticeships">@cohort.NumberOfApprenticeships</td>
                    </tr>

                }
            </tbody>
        </table>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
            The employer(s) will need to approve the new apprentices before they're added to the service.
        </p>

        <ul class="govuk-list">
            <li><a href="@Url.ProviderApprenticeshipServiceLink("account")" class="govuk-link">Go to homepage</a></li>
            <li><a href="@Url.Action("WithEmployer", new { @Model.ProviderId })" class="govuk-link">View apprentice details with employers</a></li>
            <li><a href="@Url.Action("SelectDraftApprenticeshipsEntryMethod", new { @Model.ProviderId })" class="govuk-link">Add more apprentices</a></li>
        </ul>
    </div>
</div>
