@using SFA.DAS.ProviderCommitments.Web.Models
@using SFA.DAS.ProviderCommitments.Web.RouteValues
@inject ILinkGenerator LinkGenerator
@model SFA.DAS.ProviderCommitments.Web.Models.BulkUploadAddDraftApprenticeshipsViewModel

@{
    ViewData["Title"] = "Apprentice details saved successfully";
    ViewBag.GaData.Vpv = "/bulk-upload/success-save-draft";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                New apprentice details saved successfully
            </h1>
        </div>

        <p class="govuk-body">You can find your saved apprentice details within <a href=@Url.Action("Review", new { @Model.ProviderId }) class="govuk-link">apprentice requests</a> on your homepage.</p>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Cohorts saved</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Employer</th>
                    <th scope="col" class="govuk-table__header">Cohort</th>
                    <th scope="col" class="govuk-table__header">Number of apprentices</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                @foreach (var cohort in Model.BulkUploadDraftApprenticeshipsViewModel)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="EmployerName">@cohort.EmployerName</td>
                        <td class="govuk-table__cell" data-label="CohortReference">@cohort.CohortReference</td>
                        <td class="govuk-table__cell" data-label="NumberOfApprenticeships">@cohort.NumberOfApprenticeships</td>
                    </tr>                  
                }
            </tbody>
        </table>

        <h2 class="govuk-heading-m">What happens next</h2>

        <ul class="govuk-list">
            <li><a href="@LinkGenerator.ProviderApprenticeshipServiceLink("account")" class="govuk-link">Go to homepage</a></li>
            <li><a href="@Url.Action("SelectDraftApprenticeshipsEntryMethod", new { @Model.ProviderId })" class="govuk-link">Add more apprentices</a></li>
        </ul>
    </div>
</div>
