@using SFA.DAS.ProviderUrlHelper
@using SFA.DAS.ProviderCommitments.Web.RouteValues
@using Newtonsoft.Json;
@using SFA.DAS.ProviderCommitments.Web.Models.Cohort
@model SFA.DAS.ProviderCommitments.Web.Models.Cohort.SelectEmployerViewModel
@inject ILinkGenerator LinkGenerator

@{
    ViewData["Title"] = "Choose an employer";
    ViewBag.GaData.Vpv = "/unapproved/add/select-employer";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Choose an employer</h1>
        <p class="govuk-body">Choose an employer you want to add apprentice details on behalf of.</p>

        <form method="get">
            <div class="govuk-form-group">
                <label class="govuk-label" for="searchTerm">Search employer name or account name</label>
                <div class="das-search-form__group">
                    <input class="govuk-input das-search-form__input app-input-autocomplete" id="searchTerm" name="searchTerm" type="text" value="@Model.SelectEmployerFilterModel.SearchTerm">
                    <div class="das-search-form__button-wrap">
                        <button class="govuk-button das-search-form__button" type="submit">Search</button>
                    </div>
                </div>
            </div>
            @if (Model.AccountProviderLegalEntities.Count > 0)
            {
                <table class="govuk-table das-table--responsive das-table--double-arrows">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header das-table-cell-width-35">
                                <a class="@Model.SelectEmployerFilterModel.CssClassForArrowDirection(SelectEmployerFilterModel.EmployerAccountLegalEntityNameConst)" 
                                   title="Sort by employer name" 
                                   asp-route="@RouteNames.NewCohortSelectEmployer"
                                   asp-all-route-data="@Model.SelectEmployerFilterModel.BuildSortRouteData(SelectEmployerFilterModel.EmployerAccountLegalEntityNameConst)">
                                    Employer
                                </a>

                            </th>
                            <th scope="col" class="govuk-table__header das-table-cell-width-35">
                                <a class="@Model.SelectEmployerFilterModel.CssClassForArrowDirection(SelectEmployerFilterModel.EmployerAccountNameConst)" 
                                   title="Sort by account name" 
                                   asp-route="@RouteNames.NewCohortSelectEmployer"
                                   asp-all-route-data="@Model.SelectEmployerFilterModel.BuildSortRouteData(SelectEmployerFilterModel.EmployerAccountNameConst)">
                                    Account name
                                </a>
                            </th>
                            <th scope="col" colspan="2" class="govuk-table__header das-table-cell-width-30">
                                Agreement ID
                            </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var viewModel in Model.AccountProviderLegalEntities)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" data-label="Employer">@viewModel.EmployerAccountLegalEntityName</td>
                                <td class="govuk-table__cell" data-label="Account name">@viewModel.EmployerAccountName</td>
                                <td class="govuk-table__cell" data-label="Agreement ID">@viewModel.EmployerAccountLegalEntityPublicHashedId</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Link">
                                    <a href="@Url.Action("ConfirmEmployer", new { Model.ProviderId, viewModel.EmployerAccountLegalEntityPublicHashedId })" class="govuk-link">
                                        Select <span class="govuk-visually-hidden">@viewModel.EmployerAccountLegalEntityName</span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.NewCohortSelectEmployer">Clear search</a></p>
                <p class="govuk-body">0 employers match @Model.SelectEmployerFilterModel.SearchTerm</p>
            }
            </form>
    </div>
</div>

<script>
    var autoCompleteSource = @Html.Raw(JsonConvert.SerializeObject(Model.SelectEmployerFilterModel.Employers));
</script>


@section breadcrumb
{
    <a id="back-link" class="govuk-back-link" href="@Url.Action("SelectAddDraftApprenticeshipJourney", "Cohort", new { Model.ProviderId})">Back</a>
}
