@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.ProviderCommitments.Web.Models
@using SFA.DAS.ProviderCommitments.Web.Models.OveralppingTrainingDate
@model EmployerNotifiedViewModel

@{
    ViewData["Title"] = "DraftApprenticeships";
    ViewBag.GaData.Vpv = "/unapproved/add/cohortReference/employer-notified";
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <partial name="_ValidationSummary" />
      <div class="govuk-panel govuk-panel--confirmation">
         <h1 class="govuk-panel__title">
            Employer notified to confirm changes
         </h1>
      </div>
      <h2 class="govuk-heading-m">What happens next</h2>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
         <li>
            an email has been sent to the employer requesting they update their records for this apprentice: this can take up to 2 weeks to action
         </li>
         <li>you will be notified once the employer has amended or rejected changes for this ULN</li>
         <li>you cannot approve this apprentice request until the overlapping date has been resolved</li>
      </ul>
      <form method="post">
         @Html.HiddenFor(x => x.CohortReference)
         <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
                  What do you want to do next?
               </legend>
               @Html.ValidationMessageFor(m => m.NextAction, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.NextAction) })
               <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" id="radio-view-all-cohorts" name="NextAction" type="radio" value="@NextAction.ViewAllCohorts" data-aria-controls="conditional-approve">
                     <label class="govuk-label govuk-radios__label" for="radio-view-all-cohorts">
                      View all my cohorts
                     </label>
                  </div>
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" id="radio-add-another-apprentice" name="NextAction" type="radio" value="@NextAction.AddAnotherApprentice" data-aria-controls="conditional-approve">
                     <label class="govuk-label govuk-radios__label" for="radio-add-another-apprentice">
                      Add another apprentice's details
                     </label>
                  </div>
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" id="radio-view-dashboard" name="NextAction" type="radio" value="@NextAction.ViewDashBoard" data-aria-controls="conditional-approve">
                     <label class="govuk-label govuk-radios__label" for="radio-view-dashboard">
                      Go back to the main dashboard
                     </label>
                  </div>
               </div>
            </fieldset>
         </div>
         <button class="govuk-button" data-module="govuk-button" type="submit">
          Continue
         </button>
      </form>
   </div>
</div>