@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.ProviderCommitments.Web.Models.OveralppingTrainingDate
@using SFA.DAS.CommitmentsV2.Types;
@model OverlapOptionsForChangeEmployerViewModel

@{
    ViewBag.Title = "Planned start date overlaps with existing training";
    ViewBag.GaData.Vpv = "/unapproved/add/apprenticeship/overlap-options-change-employer";

    var radioHeading = Model.Status == ApprenticeshipStatus.Stopped ? "Do you want to update a stop date?" : "Do you want to send a stop date request?";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary"/>
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>
        <p>The dates may be overlapping because:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the previous employer has not added or updated the stop date</li>
            <li>the previous employer has entered an incorrect stop date</li>
        </ul>
              
        <form method="post">
            <input type="hidden" asp-for="DraftApprenticeshipHashedId" value="@Model.DraftApprenticeshipHashedId"/>
            <input type="hidden" asp-for="ApprenticeshipId" value="@Model.ApprenticeshipId" />
            <input type="hidden" asp-for="ApprenticeshipHashedId" value="@Model.ApprenticeshipHashedId" />
            <input type="hidden" asp-for="ProviderId" value="@Model.ProviderId" />
            <input type="hidden" asp-for="CacheKey" value="@Model.CacheKey" />
            
            <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.OverlapOptions, "govuk-form-group--error")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h3 class="govuk-fieldset__heading">@radioHeading</h3>
                    </legend>
                    
                    @Html.ValidationMessageFor(m => m.OverlapOptions, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.OverlapOptions) })
                    <div class="govuk-radios" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overlap-option-1" name="OverlapOptions" type="radio" value="@OverlapOptions.SendStopRequest" aria-describedby="hint-previous-employer">
                            <label class="govuk-label govuk-radios__label" for="overlap-option-1">
                                Yes, send a stop date request to the previous employer
                            </label>
                            <div id="hint-previous-employer" class="govuk-hint govuk-radios__hint">
                                A draft apprenticeship record will be saved and the employer will have 2 weeks the action the changes
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overlap-option-2" name="OverlapOptions" type="radio" value="@OverlapOptions.ContactTheEmployer" aria-describedby="hint-saved-cohort">
                            <label class="govuk-label govuk-radios__label" for="overlap-option-2">
                                No, I’ll change the employer later
                            </label>
                            <div id="hint-saved-cohort" class="govuk-hint govuk-radios__hint">
                                The details entered for this apprentice will not be saved. Go back to view apprentice details.
                            </div>
                        </div>                       
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Submit
            </button>
        </form>
    </div>
</div>

@section breadcrumb
{
    <div class="das-js-back-link"></div>
}