@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.ProviderCommitments.Web.Models.OveralppingTrainingDate
@model OverlapOptionsForChangeEmployerViewModel

@{
    ViewData["Title"] = "This apprentice already has an existing apprenticeship record";
    ViewBag.GaData.Vpv = "/unapproved/add/apprenticeship/overlap-options-change-employer";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary"/>
        <h1 class="govuk-heading-xl">This apprentice already has an existing apprenticeship record</h1>
        <p>The planned start date overlaps with existing training for the same apprentice.</p>
        <p>This may be because:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the previous employer has not updated the stop date</li>
            <li>this apprentice has an existing apprenticeship record that is still live</li>
        </ul>
        
        <form method="post">
            <input type="hidden" asp-for="DraftApprenticeshipHashedId" value="@Model.DraftApprenticeshipHashedId"/>
            <input type="hidden" asp-for="ApprenticeshipId" value="@Model.ApprenticeshipId" />
            <input type="hidden" asp-for="ApprenticeshipHashedId" value="@Model.ApprenticeshipHashedId" />
            <input type="hidden" asp-for="ProviderId" value="@Model.ProviderId" />
            <input type="hidden" asp-for="CacheKey" value="@Model.CacheKey" />
            
            <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.OverlapOptions, "govuk-form-group--error")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h3 class="govuk-fieldset__heading">To update a stop date you can:</h3>
                    </legend>
                    
                    @Html.ValidationMessageFor(m => m.OverlapOptions, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.OverlapOptions) })
                    <div class="govuk-radios" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overlap-option-1" name="OverlapOptions" type="radio" value="@OverlapOptions.SendStopRequest" aria-describedby="hint-previous-employer">
                            <label class="govuk-label govuk-radios__label" for="overlap-option-1">
                                Send a stop request email from the service
                            </label>
                            <div id="hint-previous-employer" class="govuk-hint govuk-radios__hint">
                                This can take up to 2 weeks for the previous employer to action.
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overlap-option-2" name="OverlapOptions" type="radio" value="@OverlapOptions.ContactTheEmployer" aria-describedby="hint-saved-cohort">
                            <label class="govuk-label govuk-radios__label" for="overlap-option-2">
                                Contact the previous employer myself
                            </label>
                            <div id="hint-saved-cohort" class="govuk-hint govuk-radios__hint">
                                If you know the previous employer details you can contact them directly to agree the stop date.
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overlap-option-3" name="OverlapOptions" type="radio" value="@OverlapOptions.ChangeEmployerLater" aria-describedby="hint-details-deleted">
                            <label class="govuk-label govuk-radios__label" for="overlap-option-3">
                                I'll change the employer later
                            </label>
                            <div id="hint-details-deleted" class="govuk-hint govuk-radios__hint">
                                The details entered for this apprentice will not be saved.
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

@section breadcrumb
{
    <div class="das-js-back-link"></div>
}