@using SFA.DAS.CommitmentsV2.Shared.Extensions
@using SFA.DAS.ProviderCommitments.Web.RouteValues
@model SFA.DAS.ProviderCommitments.Web.Models.DraftApprenticeship.DraftApprenticeshipAddEmailViewModel;
@{
    var title = string.IsNullOrEmpty(Model.Email) ? "Add email address" : "Change email";
    var isEdit = string.IsNullOrEmpty(Model.Email) ? "false" : "true";

    ViewData["Title"] = title;
    var routeData = new
    {
        Model.CohortReference,
        Model.ProviderId,
        Model.DraftApprenticeshipHashedId
    };
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="_ValidationSummary" />
        <span class="govuk-caption-l govuk-!-margin-bottom-1">Details for @Model.Name</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">@title</h1>
        <p class="govuk-body govuk-!-margin-bottom-6">
            This is the email address we will use to contact the apprentice.
        </p>

        <form method="post" asp-route="@RouteNames.ApprenticeEmail" asp-route-providerId="@Model.ProviderId">
            <input type="hidden" name="DraftApprenticeshipHashedId" value="@Model.DraftApprenticeshipHashedId" />
            <input type="hidden" name="IsEdit" value="@isEdit" />

            <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.Email, "govuk-form-group--error")">
                <label asp-for="Email" class="govuk-label">Email address</label>
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.Email) })
                <input asp-for="Email" class="govuk-input" />
            </div>

            <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Why do we need an email address?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">
                        Your apprentice will receive an email alert inviting them to the My apprenticeship
                        service. On
                        the service, your apprentice will be able to:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>review and confirm their apprenticeship details</li>
                        <li>
                            understand the roles and responsibilities of an apprentice, an employer and a training
                            provider
                        </li>
                        <li>find help and support during their apprenticeship</li>
                    </ul>
                </div>
            </details>


            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                    Continue
                </button>
                <a id="back-link" class="govuk-back-link" href="@Url.Action("EditDraftApprenticeship", "DraftApprenticeship", new { Model.ProviderId, Model.CohortReference, Model.DraftApprenticeshipHashedId })">Cancel</a>
            </div>
        </form>



    </div>
</div>

@section breadcrumb
{
    <a id="back-link" class="govuk-back-link" href="@Url.RouteUrl(RouteNames.DraftApprenticeshipEdit, routeData)">Back</a>
}