@model SFA.DAS.ProviderCommitments.Web.Models.EditDraftApprenticeshipViewModel
@using Azure
@using SFA.DAS.ProviderCommitments.Web.RouteValues
@using SFA.DAS.ProviderCommitments.Web.TagHelpers

@{
    ViewData["Title"] = "Apprenticeships";
    ViewBag.GaData.Vpv = "/unapproved/cohort/apprentices/edit";
    ViewBag.GaData.Org = Model.Employer;

    bool rplStillNeedsConsideration = Model.RecognisingPriorLearningExtendedStillNeedsToBeConsidered;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        
        @if (TempData["LearnerDataSyncSuccess"] != null)
        {
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        @TempData["LearnerDataSyncSuccess"]
                    </p>
                </div>
            </div>
        }
        
        @if (TempData["LearnerDataSyncError"] != null)
        {
            <div class="govuk-notification-banner govuk-notification-banner--error" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Error
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        @TempData["LearnerDataSyncError"]
                    </p>
                </div>
            </div>
        }
        
        @if (Model.HasLearnerDataChanges)
        {
            <div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        Apprentice details have been changed in the ILR. To continue you need to 
                        <form method="post" asp-route="@RouteNames.DraftApprenticeshipEdit" asp-route-providerId="@Model.ProviderId" style="display: inline;">
                            <input type="hidden" name="CohortId" value="@Model.CohortId" />
                            <input type="hidden" name="DraftApprenticeshipId" value="@Model.DraftApprenticeshipId" />
                            <input type="hidden" name="DraftApprenticeshipHashedId" value="@Model.DraftApprenticeshipHashedId" />
                            <input type="hidden" name="CohortReference" value="@Model.CohortReference" />
                            <input type="hidden" name="Operation" value="SyncLearnerData" />
                            <button type="submit" class="govuk-link" style="background: none; border: none; padding: 0; font: inherit; color: #1d70b8; text-decoration: underline; cursor: pointer;">
                                update now
                            </button>
                        </form>
                    </p>
                </div>
            </div>
        }
        
        <div asp-show="@rplStillNeedsConsideration" class="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    You need to add recognition of prior learning (RPL) details.
                </p>
                <p>
                    Check all the information you have entered on this page is correct and save it. After you have done this, you can add RPL details.
                </p>
            </div>
        </div>
        
        <form id="addApprenticeship" novalidate method="post" asp-route="@RouteNames.DraftApprenticeshipEdit" asp-route-providerId="@Model.ProviderId">
            
            <input type="hidden" asp-for="ProviderId"/>
            <input type="hidden" asp-for="EmployerAccountLegalEntityPublicHashedId"/>
            <input type="hidden" asp-for="HasMultipleDeliveryModelOptions"/>
            <input type="hidden" asp-for="HasLearnerDataChanges"/>
            <input type="hidden" asp-for="LastLearnerDataSync"/>

            <button type="submit" id="defaultButton" aria-hidden="true" class="govuk-visually-hidden" tabindex="-1"></button>
            
            @if (Model.IsContinuation || Model.LearnerDataId == null)
            {
                <partial name="DraftApprenticeship" for="@Model"/>
                <button type="submit" class="govuk-button" id="submitAddDraftApprenticeship">Save</button>
            } 
            else
            {
                <partial name="ViewDraftApprenticeshipReadOnly" for="@Model" />
                <button type="submit" class="govuk-button" id="submitAddDraftApprenticeship">Continue</button>

            }

            @if (!Model.IsContinuation)
            {
                <a class="govuk-button govuk-button--warning das-float-right" href="@Url.RouteUrl(RouteNames.ApprenticeDelete, new { ProviderId = Model.ProviderId, DraftApprenticeshipHashedId =  Model.DraftApprenticeshipHashedId, CohortReference = Model.CohortReference })"> Delete</a>
            }

            <p class="govuk-body govuk-!-margin-bottom-0">
                <a class="govuk-body govuk-link" href="@Url.Action("Details", "Cohort", new { Model.ProviderId, Model.CohortReference })">Cancel</a>
            </p>
        </form>

    </div>
</div>

@*
    @section  Scripts
    {
        <script src="/libs/accessible-autocomplete/accessible-autocomplete.min.js"></script>
        <script>
            accessibleAutocomplete.enhanceSelectElement({
                selectElement: document.querySelector('#CourseCode')
            })
        </script>
    }
*@