@model SFA.DAS.ProviderCommitments.Web.Models.EditDraftApprenticeshipViewModel
@using SFA.DAS.ProviderCommitments.Web.RouteValues

@{
    ViewData["Title"] = "Apprenticeships";
    ViewBag.GaData.Vpv = "/unapproved/cohort/apprentices/edit";
    ViewBag.GaData.Org = Model.Employer;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <h1 class="govuk-heading-xl">Edit apprentice details</h1>

        <div asp-show="@Model.RecognisingPriorLearningStillNeedsToBeConsidered" class="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    You need to add recognition of prior learning (RPL) details.
                </p>
                <p>
                    Check all the information you have entered on this page is correct and save it. After you have done this, you can add RPL details.
                </p>
            </div>
        </div>
        
        <form id="addApprenticeship" novalidate method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.EmployerAccountLegalEntityPublicHashedId)
            @Html.HiddenFor(x => x.HasMultipleDeliveryModelOptions)

            <button type="submit" id="defaultButton" aria-hidden="true" class="govuk-visually-hidden" tabindex="-1"></button>

            <partial name="DraftApprenticeship" for="@Model" />

            <button type="submit" class="govuk-button das-js-hide" id="submitAddDraftApprenticeship">Save</button>

            @if (!Model.IsContinuation)
            {
                <a class="govuk-button govuk-button--warning das-float-right" href="@Url.RouteUrl(RouteNames.ApprenticeDelete, new { ProviderId = Model.ProviderId, DraftApprenticeshipHashedId =  Model.DraftApprenticeshipHashedId, CohortReference = Model.CohortReference })"> Delete</a>
            }

            <p class="govuk-body govuk-!-margin-bottom-0">
                <a class="govuk-body govuk-link" href="@Url.Action("Details", "Cohort", new { Model.ProviderId, Model.CohortReference })">Cancel</a>
            </p>
        </form>

    </div>
</div>

@*
    @section  Scripts
    {
        <script src="/libs/accessible-autocomplete/accessible-autocomplete.min.js"></script>
        <script>
            accessibleAutocomplete.enhanceSelectElement({
                selectElement: document.querySelector('#CourseCode')
            })
        </script>
    }
*@