@model SFA.DAS.ProviderCommitments.Web.Models.PriorLearningSummaryViewModel
@using SFA.DAS.ProviderCommitments.Web.RouteValues;
@using SFA.DAS.ProviderCommitments.Interfaces
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Check your recognised prior learning";
    ViewBag.ValidationOrder = "";
    ViewBag.GaData.Vpv = "/unapproved/apprenticeship/prior-learning-summary";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check price reduction due to RPL</h1>

        <partial name="_ValidationSummary" />
        <form method="post">

            @Html.HiddenFor(x => x.ProviderId)
            @Html.HiddenFor(x => x.CohortReference)
            @Html.HiddenFor(x => x.DraftApprenticeshipId)
            @Html.HiddenFor(x => x.HasStandardOptions)

            @if (Model.RplPriceReductionError.Equals(true))
            {
                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Important
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
                            RPL price reduction due to RPL is below the minimum outlined in <a class="govuk-link" href="https://www.gov.uk/guidance/apprenticeship-funding-rules">the funding rules</a>. Review the figures below and make necessary changes
                        </p>
                    </div>
                </div>
            }

            <h2 class="govuk-heading-m govuk-!-margin-top-9">RPL details for this apprentice</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Total off-the-job training time for this apprenticeship standard
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__cell--numeric govuk-!-text-align-left">
                        @Model.TrainingTotalHours.GetValueOrDefault().ToString("N0") hours
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="@Url.RouteUrl(RouteNames.RecognisePriorLearningData)">
                            Change
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row ">
                    <dt class="govuk-summary-list__key">
                        Off-the-job training time reduction due to prior learning
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__cell--numeric govuk-!-text-align-left">
                        @Model.DurationReducedByHours.GetValueOrDefault().ToString("N0") hours
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="@Url.RouteUrl(RouteNames.RecognisePriorLearningData)">
                            Change
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key half-column">
                        Price reduction due to prior learning
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__cell--numeric govuk-!-text-align-left">
                        £@Model.PriceReducedBy.GetValueOrDefault().ToString("N0")
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="@Url.RouteUrl(RouteNames.RecognisePriorLearningData)">
                            Change
                        </a>
                    </dd>
                </div>
            </dl>

            <div class="govuk-inset-text">
                <p class="govuk-body">
                    Based on the reduction in training time that you have entered, the minimum price reduction due to RPL is <strong>£@Model.MinimumPriceReduction.GetValueOrDefault().ToString("N0")</strong>.
                </p>

                <p class="govuk-body">
                    Refer to the <a class="govuk-link" href="https://www.gov.uk/guidance/apprenticeship-funding-rules">apprenticeship funding rules</a> and <a class="govuk-link" href="https://www.gov.uk/government/publications/apprenticeships-recognition-of-prior-learning/apprenticeships-initial-assessment-to-recognise-prior-learning">initial assessment for RPL guidance</a> for further information on calculating this price reduction.
                </p>
            </div>

            <h3 class="govuk-heading-s ">Calculation according to the funding rules</h3>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row ">
                    <dt class="govuk-summary-list__key">
                        Your proposed off-the-job training reduction due to RPL
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__cell--numeric govuk-!-text-align-left">
                        @Model.DurationReducedByHours.GetValueOrDefault().ToString("N0") hours
                        <br />@Model.PercentageTotalTraining.GetValueOrDefault().ToString("0.00")% of the total training for this apprenticeship standard
                        (@Model.TrainingTotalHours.GetValueOrDefault().ToString("N0") hours)
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Minimum price reduction you must give
                    </dt>
                    <dd class="govuk-summary-list__value govuk-table__cell--numeric govuk-!-text-align-left">
                        £@Model.MinimumPriceReduction.GetValueOrDefault().ToString("N0")
                        <br />@Model.PercentageMinimumFunding.GetValueOrDefault().ToString("0.00")% of the maximum funding for this apprenticeship standard
                        (£@Model.FundingBandMaximum.GetValueOrDefault().ToString("N0"))
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>

            </dl>

            <input type="hidden" name="answers-checked" value="true">
            <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                Save and Continue
            </button>
            <br>
        </form>

    </div>
</div>

@section breadcrumb
{
    <a id="back-link" class="govuk-back-link" href="@Url.RouteUrl(RouteNames.RecognisePriorLearningData)">Back</a>
}