@using SFA.DAS.ProviderCommitments.Web.RouteValues
@using SFA.DAS.CommitmentsV2.Shared.Extensions
@model SFA.DAS.ProviderCommitments.Web.Models.DraftApprenticeship.DraftApprenticeshipSetReferenceViewModel
@{
    var title = string.IsNullOrWhiteSpace(Model.Reference) ? "Add your Reference" : "Change your Reference";
    ViewData["Title"] = title;
    var isEdit = string.IsNullOrEmpty(Model.Reference) ? "false" : "true";
}

<div class="govuk-grid-row">
    <partial name="_ValidationSummary" />
    <form class="form" method="post" asp-route="@RouteNames.setReference">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Details for @Model.Name</span>
            <h1 class="govuk-heading-l">@title</h1>
            @Html.HiddenFor(x => x.CohortId)
            @Html.HiddenFor(x => x.DraftApprenticeshipId)
            @Html.HiddenFor(x => x.Party)
            <input type="hidden" name="IsEdit" value="@isEdit" />

            <p class="govuk-body">
                Add a reference, such as employee number or location. This won’t be seen by the employer.
            </p>
           <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.Reference, "govuk-form-group--error")">
                <label asp-for="Reference" class="govuk-label govuk-!-font-weight-bold">Reference</label>
                @Html.ValidationMessageFor(m => m.Reference, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.Reference) })
                <input asp-for="Reference" maxlength="30" class="govuk-input govuk-!-width-three-quarters" />
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" type="submit" data-govuk-button-init="">
                    Continue
                </button>
                <a class="govuk-link" href="@Url.Action("EditDraftApprenticeship", "DraftApprenticeship", new { Model.ProviderId, Model.CohortId, Model.DraftApprenticeshipHashedId })">Cancel</a>
            </div>
        </div>
    </form>
</div>

@section breadcrumb
{
    <a id="back-link" class="govuk-back-link" href="@Url.Action("EditDraftApprenticeship", "DraftApprenticeship", new { Model.ProviderId, Model.CohortId, Model.DraftApprenticeshipHashedId })">Back</a>
}